<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="image/delhi_map.jpg" alt="delhi">
    <button onclick=""window.location.href = 'https://www.thrillophilia.com/places-to-visit-in-delhi#:~:text=India%20Gate%2C%20Red%20Fort%2C%20Qutab,Raj%20Ghat%20and%20many%20more ';>delhi info</button>
</body>
</html>