<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="image/mumbai-map.jpg" alt="mumbai">
    <button onclick="window.location.href ='https://www.thrillophilia.com/places-to-visit-in-mumbai#:~:text=Marine%20Drive%2C%20Gateway%20of%20India,temple%2C%20Global%20Vipassana%20Pagoda%2C%20Mumbai';">mumbai info</button> </button>
</body>
</html>